@use "variables"
@use "colors"
    
//Styling for the footer

footer
    background: white
    padding: variables.$spacing
    display: flex
    justify-content: space-between

    .footer-socials
        gap: variables.$spacing
        display: flex
        align-items: flex-end
        padding: variables.$spacing

        & img
            width: 1.5rem
            height: 1.5rem

    .footer-infos
        display: flex
        align-items: center
        gap: variables.$spacing

        & > a 
            text-decoration: none
            color: colors.$dark

            &:hover
                text-decoration: underline
                color: colors.$accent