@use "colors"
@use "variables"
    
.team
    display: flex
    flex-wrap: wrap
    gap: calc(variables.$spacing *2 )
    justify-content: center

    &-title
        margin-bottom: calc(variables.$spacing *4)
        font-size: 5rem
        margin-inline: auto
        text-align: center
        max-width: 50rem

    &-card
        max-width: 15rem

        &-title
            color: colors.$accent
            margin-block: 0

        &-subtitle
            margin-block: 0
            margin-top: .25rem
            font-weight: 200
            font-size: 1rem

        &-desc
    
        &-img
            width: 100%
            aspect-ratio: 1/1
            object-fit: cover
            object-position: top
            border-radius: 100%